@model IEnumerable<AgendaCorp.Models.Participante>

@{
    ViewData["Title"] = "Index";
}

<h1>Participantes</h1>

<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Participante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscricoes.Count)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary px-sm-1 py-0" asp-route-id="@item.ParticipanteId">Editar</a>
                <a asp-action="Details" class="btn btn-primary px-sm-1 py-0" asp-route-id="@item.ParticipanteId">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger px-sm-1 py-0" asp-route-id="@item.ParticipanteId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
